### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
players_df = len(purchase_data["SN"].value_counts())
players_df

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of unique items
items_df = len(purchase_data["Item Name"].unique())
items_df

179

In [4]:
#Average purchase price
average_price_df = purchase_data["Price"].mean()
average_price_df

3.050987179487176

In [5]:
#Total number of purchase
total_purchase_df = len(purchase_data)
total_purchase_df

780

In [6]:
#Total revenue 
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [7]:
purchase_analysis_total = pd.DataFrame({
    "Number of Unique Items":[items_df],
    "Average Purchase Price":[average_price_df],
    "Total Number of purchases":[total_purchase_df],
    "Total Revenue":[total_revenue]
})
purchase_analysis_total

,Number of Unique Items,Average Purchase Price,Total Number of purchases,Total Revenue
0,179,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
#gender counts
gender_counts = purchase_data['Gender'].value_counts()
gender_counts

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [9]:
#percentage counts
gender_counts = purchase_data['Gender'].value_counts(True)
gender_counts = purchase_data['Gender'].value_counts(True)*100
gender_counts

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#purhase count
purchase_count = purchase_data.groupby("Gender")
purch_count = purchase_count["SN"].count
aver_price = purchase_count["Price"].mean()
total_purchace_value = purchase_count["Price"].sum()
duplicates = purchase_data.drop_duplicates(subset='SN', keep="first")
grouped_dup = duplicates.groupby(["Gender"])
purch_Norm = (purchase_data["Price"].sum() / grouped_dup["SN"].count())
purchase_analysis_gender = pd.DataFrame({
    "Purchase Count":[purch_count],
     "Average Purchase Price":[aver_price],
     "Total Purchase Value":[total_purchace_value],
    "Normalized Totals":[purch_Norm]
})
purchase_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
0,<bound method SeriesGroupBy.count of <pandas.c...,Gender Female 3.203009 Male ...,Gender Female 361.94 Male ...,Gender Female 29.379877 Mal...

In [11]:
purchase_count.count().head()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [12]:
aver_price = purchase_count["Price"].mean()
aver_price.count

<bound method Series.count of Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64>

In [13]:
total_purchace_value = purchase_count["Price"].sum()
total_purchace_value.count

<bound method Series.count of Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64>

In [14]:
purchase_analysis_gender = pd.DataFrame({
    "Purchase Count":[purch_count],
     "Average Purchase Price":[aver_price],
     "Total Purchase Value":[total_purchace_value],
    "Normalized Totals":[purch_Norm]
})
purchase_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
0,<bound method SeriesGroupBy.count of <pandas.c...,Gender Female 3.203009 Male ...,Gender Female 361.94 Male ...,Gender Female 29.379877 Mal...

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 44.90]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Demographics"]= pd.cut(purchase_data["Age"], age_bins, labels=group_names)
demographic_group =purchase_data.groupby("Age Demographics")

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,20-24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 44.90]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Demographics"]= pd.cut(purchase_data["Age"], age_bins, labels=group_names)
demographic_group =purchase_data.groupby("Age Demographics")

age_purchasing_df = purchase_data
age_purchasing_df['Age Groups'] = pd.cut(purchase_data['Age'], age_bins, labels = group_names)

age_purchasing_analysis_df = age_purchasing_df[['Price', 'Age Groups']].groupby(['Age Groups']).count()
age_purchasing_analysis_df['Average Purchase Price'] = age_purchasing_df[['Price', 'Age Groups']].groupby(['Age Groups']).mean()
age_purchasing_analysis_df['Total Purchase Price'] = age_purchasing_df[['Price', 'Age Groups']].groupby(['Age Groups']).sum()
age_purchasing_analysis_df['Normalized Totals'] = (age_purchasing_analysis_df['Total Purchase Price'] / purchase_data["Age Demographics"])

age_purchasing_analysis_df['Average Purchase Price'] = age_purchasing_analysis_df['Average Purchase Price'].map('${:,.2f}'.format)
age_purchasing_analysis_df['Total Purchase Price'] = age_purchasing_analysis_df['Total Purchase Price'].map('${:,.2f}'.format)
age_purchasing_analysis_df['Normalized Totals'] = age_purchasing_analysis_df['Normalized Totals'].map('${:,.2f}'.format)

age_purchasing_analysis_df

TypeError: Object with dtype category cannot perform the numpy op true_divide

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
#define top spender 
top_spenders = purchase_data['Item ID'].groupby(purchase_data['SN']).count()

# set the dataframe for top spender 
top_spenders= pd.DataFrame(data=top_spenders)
top_spenders.columns = ['Purchase Count']

top_spenders['Average Purchase Price'] = round(purchase_data['Price'].groupby(purchase_data['SN']).mean(),2)
top_spenders['Total Purchase Value'] = purchase_data['Price'].groupby(purchase_data['SN']).sum()


top_spenders.sort_values(by=['Total Purchase Value'], ascending=False, inplace=True)

top_spenders['Average Purchase Price'] = top_spenders['Average Purchase Price'].map('${:,.2f}'.format)
top_spenders['Total Purchase Value'] = top_spenders['Total Purchase Value'].map('${:,.2f}'.format)

top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
most_items = purchase_data.groupby(['Item ID', 'Item Name','Price'])['Price'].agg(['count','sum'])
most_items.columns = ['Purchase Count', 'Total Purchase Value']

most_items.reset_index(inplace=True)
most_items.set_index(['Item ID','Item Name'] ,inplace=True)

most_items = most_items[['Purchase Count', 'Price', 'Total Purchase Value']]

most_popular_items = most_items.sort_values(by='Purchase Count', ascending=False)

most_popular_items['Price'] = most_popular_items['Price'].map('${:,.2f}'.format)
most_popular_items['Total Purchase Value'] = most_popular_items['Total Purchase Value'].map('${:,.2f}'.format)

most_popular_items.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [36]:
most_profitable_items = most_items.sort_values(by='Total Purchase Value', ascending=False) 
most_profitable_items['Price'] = most_profitable_items['Price'].map('${:,.2f}'.format)
most_profitable_items['Total Purchase Value'] = most_profitable_items['Total Purchase Value'].map('${:,.2f}'.format)
most_profitable_items.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80